header h1, .pedidos {
    font-family: "Rubik Mono One", monospace;
    text-align: center;
    position: relative;
    top: 20px;
}

.formulario {
    margin-top: 50px;
}

form input, select {
    position: relative;
    bottom: 10px;
}

.lanche {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.cardPedidos img {
    margin-left: 65px;
}

.wrapPedidos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    background-color: rgb(235, 235, 235);
}